/* Color palette */
:root {
  --background: #333;
  --background-dimmed: #444;
  --text: #f2f2f2;
  --text-dimmed: #f2f2f2;
  --text-hidden: #ccc;
  --highlight: #16b8f3; /* Zima blue*/
  --highlight-dimmed: #567e98;
  --border: #ddd;
}

/*Fonts*/
@font-face {
    /*font stealed from @apple.com*/
    font-family: 'sf-pro-semibold';
    src: url('/font/sf-pro-semibold.woff2') format('woff2'),
}

body {
  font-family: 'sf-pro-semibold', sans-serif;
  font-size: 16px;
  background-color: var(--background);
  color: var(--text);
}

img {
  width: 40%;
  align-self: center;
}

.center {
  text-align: center;
}


/* Menu bar */
#menubar {
  position: fixed;
  float: left;
  width: 10%;
  height: 100vh;
  background-color: var(--background);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#menu-logo {
  width: 80%;
  height: auto;
}

#menubar h1 {
  padding: 20px;
  background-color: var(--highlight);
  border-radius: 15px;
  display: block;
}

#menubar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#menubar li {
  margin-bottom: 10px;
}

#menu-item {
  text-decoration: none;
  font-size: 20px;
  color: var(--text);
  background-color: var(--background-dimmed);
  padding: 14px 20px;
  border-radius: 10px;
  transition: background-color 0.4s ease-in-out;
  display: block;
}

#menu-selected {
  text-decoration: none;
  font-size: 20px;
  color: var(--text);
  background-color: var(--highlight-dimmed);
  padding: 14px 20px;
  border-radius: 10px;
  transition: background-color 0.4s ease-in-out;
  display: block;
}

#menubar a:hover {
  background-color: var(--highlight);
  color: var(--text-dimmed);
}

/* User status */
#user-status {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 75%;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: var(--highlight);
  color: var(--text);
  text-align: center;
}

#user-status a {
  text-decoration: none;
  color: var(--text);
}

#content {
  margin-left: 15%;
  width: 80%;
  padding: 20px;
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Search box */
#search-box {
  padding: 40px;
}

#search-box form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-box input[type="text"] {
  padding: 8px;
  font-size: 18px;
  width: 70%;
  height: 30px;
  margin-right: 15px;
  border-radius: 5px;
  background-color: var(--background-dimmed);
  border: none;
  color: var(--text);
  outline: none;
}

#search-box select, button {
  padding: 8px 15px;
  margin-right: 15px;
  height: 45px;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--highlight);
  color: var(--text);
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

#search-box button:hover {
  background-color: var(--background-dimmed);
}

/* Blogs */
.blog-post {
  background-color: var(--background);
  border: 1px solid var(--background-dimmed);
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 5px;
  transition: background-color 0.4s ease-in-out;
}

.blog-post:hover {
  background-color: var(--background-dimmed);
}

.blog-post a {
  text-decoration: none;
  display: block;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.content-container button {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  color: var(--text-dimmed);
}

.text-container {
  flex-grow: 1;
  padding-right: 15px;
}

.blog-title, .blog-text-preview {
  margin: 0;
  padding-left: 15px;
  color: var(--text);
}

.blog-text-preview {
  font-size: 13px;
  padding-top: 10px;
  color: var(--text-dimmed);
}

.image-container {
  flex-shrink: 1;
  margin-left: auto;
}

.image-container img {
  max-width: 15%;
  height: auto;
  display: block;
}

/* Pagination */
#pagination {
  position: absolute;
  margin-left: 35%;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}

#pagination ul {
  list-style: none;
  padding: 0;
}

#pagination li {
  display: inline;
  margin: 0 5px;
}

#pagination li a {
  text-decoration: none;
  padding: 8px 12px;
  color: var(--text);
  background-color: var(--background-dimmed);
  border-radius: 10px;
  transition: background-color 0.4s ease-in-out;
}

#pagination li a:hover {
  background-color: var(--highlight);
}

#pagination .current-page {
  color: var(--text);
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--highlight);
  color: var(--text);
}

#pagination .disabled {
  color: var(--text-hidden);
}

/* Edit */
.edit {
  margin: 20px 0;
}

.edit form {
  display: grid;
  grid-gap: 20px;
}

.edit label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.edit input[type='text'],
.edit textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  resize: vertical;
}

.edit input[type='text'] {
  height: 40px;
}

.edit textarea {
  min-height: 200px;
}

.edit button[type='submit'] {
  background-color: var(--highlight);
  color: var(--text);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.edit button[type='submit']:hover {
    background-color: var(--background-dimmed);
}

/* Others */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  padding: 8px;
  font-size: 18px;
  height: 30px;
  margin: 8px;
  border-radius: 5px;
  background-color: var(--background-dimmed);
  border: none;
  color: var(--text);
  outline: none;
}

form button {
  padding: 8px 15px;
  margin: 8px;
  height: 45px;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--highlight);
  color: var(--text);
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.button-container {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.button-container a {
  display: inline-block; 
  padding: 10px 10px;
  background-color: var(--highlight);
  color: var(--text);
  text-decoration: none;
  border-radius: 5px;
}
