doctype html
html
  head
    include common-head.pug
    title Bluedit / 404
  body
    header
      include menubar.pug
      +menubar({ currentPage: 'main' })
    main#content
      h1 404 Not Found
