doctype html
html
  head
    title Bluedit / Home
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      include menubar.pug
      +menubar({ currentPage: 'main' })
    main#content
      h1 404 Not Found
