doctype html
html
  head
    title Bluedit / Home
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      include menubar.pug
      +menubar({ currentPage: 'main' })
    main#content
      #search-box
        form(action="/search" method="get")
          input(type="text" name="q" placeholder="Search blogs...")
          button(type="submit") Search
      #blog-list
        each blog in blogs
          article.blog-post
            a(href=`/blogs/${blog.id}`)
              h2.blog-title= blog.title
              p.blog-text-preview= blog.text
              if blog.image
                img(src=blog.image, alt="Blog Image")
      include pagination.pug
      +pagination('/', page)
