mixin menubar(currentPage)
  #menubar
    h1#logo Bluedit
    ul
      li
        a(id=(currentPage === 'main' ? 'menu-selected' : 'menu-item'), href='/') Home
      li
        a(id=(currentPage === 'explore' ? 'menu-selected' : 'menu-item'), href='/explore') Explore
      li
        a(id=(currentPage === 'notifications' ? 'menu-selected' : 'menu-item'), href='/notifications') Notifications
  section#user-status
    div User Abc
    div @user_id123
