mixin menubar(currentPage)
  #menubar
    img#menu-logo(src='/image/bluedit.png', alt='Logo')
    h1 Bluedit
    ul
      li
        a(id=(currentPage == 'main' ? 'menu-selected' : 'menu-item'), href='/') Home
      li
        a(id=(currentPage == 'explore' ? 'menu-selected' : 'menu-item'), href='/explore') Explore
      li
        a(id=(currentPage == 'notifications' ? 'menu-selected' : 'menu-item'), href='/notifications') Notifications
    section#user-status
      div User Abc
      div @user_id123
