mixin menubar(currentPage, user)
  #menubar
    img#menu-logo(src='/image/bluedit.png', alt='Logo')
    h1 Bluedit
    ul
      li
        a(id=(currentPage == 'main' ? 'menu-selected' : 'menu-item'), href='/') Home
      li
        a(id=(currentPage == 'explore' ? 'menu-selected' : 'menu-item'), href='/explore') Explore
      li
        a(id=(currentPage == 'post' ? 'menu-selected' : 'menu-item'), href='/post') Post
    section#user-status
      if user
        div #{user.name}
        div @#{user.username}
        a(href='/logout') Logout
      else
        a(href='/login') Login
