doctype html
html
  head
    include common-head.pug
    title Bluedit / Post
  body
    include menubar.pug
    +menubar('post', user)
    main#content
      h1 Create New Blog Post
      .edit
        form(action='/post', method='post')
          div
            label(for='title') Title:
            input(type='text', name='title', required)
          div
            label(for='body') Body:
            textarea(name='body', required)
          div
            label(for='image') Image URL:
            input(type='text', name='image')
          button(type='submit') Submit
